<aside class="sidebar">
  <nav class="space-y-1">
    <a class="side-link" href="/dashboard">Dashboard</a>
    <a class="side-link" href="/transactions">Transactions</a>
    <a class="side-link" href="/budgets">Budgets</a>
    <a class="side-link" href="/categories">Catégories</a>
    <a class="side-link" href="/objectifs">Objectifs</a>
    <a class="side-link" href="/profile">Profil</a>
  </nav>
</aside>
