<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restoration de mot de passe</title>
  </head>
  <body>
    <% if (typeof error !== 'undefined' && error) { %>
    <div class="error-message"><%= error %></div>
    <% } %> <% if (typeof message !== 'undefined' && message) { %>
    <div class="message-message"><%= message %></div>
    <% } %>
    <h1>Restoration de mot de passe</h1>
    <form action="/restorer-mot-de-passe" method="post">
      <label for="newPassword">Nouveaux mot de passe</label>
      <input type="password" name="newPassword" id="newPassword" required />
      <button type="submit">Réinitialiser le mot de passe</button>
    </form>
  </body>
</html>
