<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <% if (typeof error !== 'undefined' && error) { %>
    <div class="error-message"><%= error %></div>
    <% } %> <% if (typeof message !== 'undefined' && message) { %>
    <div class="message-message"><%= message %></div>
    <% } %>

    <form action="/categorie/ajouter" method="post">

      <label for="nom">Nom de categorie</label>
      <input type="text" name="nom" id="nom" /><br />
      <hr />

      <button type="submit">Crée Categorie</button>
    </form>

    <a href="/transactions">Retourner Au transactions</a>
    <a href="/categories">Retourner Au Categories</a>
  </body>
</html>
